body {
    background-color: lightgray;
}

.label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 15px;
}

.card {
    width: 40rem;
}

.image {
    width: 100px;
}

.center {
    margin: 50px auto 0;
    display: flex;
    width: 60%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px 20px 20px;
    position: relative;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.hiddendiv {
    display: none;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.result {
    border: 1px dotted #ccc;
    padding: 3px;
    background-color: white;
    width: 190px;
    position: absolute;
    z-index: 2000;
}

.result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.result ul li {
    padding: 5px 0;
}

.result ul li:hover {
    background: #eee;
}

.searchdiv{
    float: right;
}