body {
    background-color: lightgray;
}

.label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 15px;
  }

.card {
    width: 40rem;
}

.image {
    width: 100px;
}
  
#dialog {
    display:none;
}
